<!--Add New Survey Model-->
<div id="newSurvey" th:fragment="newSurvey(survey)" tabindex="-1" aria-hidden="true"
     class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full lg:max-w-3xl max-h-full">

        <div class="relative bg-white rounded-lg shadow-sm">

            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-200">
                <h3 class="text-xl font-semibold text-gray-900">
                    Create New Survey
                </h3>
                <button type="button"
                        class="text-black cursor-pointer bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                        data-modal-hide="newSurvey">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>

            <form th:action="@{/sale/survey/add}" th:object="${survey}" th:method="post">
                <div class="p-4 md:p-5 space-y-4 grid grid-cols-1 lg:grid-cols-1 gap-4">
                    <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.token}">
                    <input type="hidden" name="salePerson" th:value="*{salePerson.id}"/>
                    <div class="w-full mx-auto">
                        <label for="customerName" class="block mb-2 text-sm font-medium text-gray-900">Customer Name</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5">
                                <i class="fa-solid fa-signature text-gray-900"></i>
                            </div>
                            <input
                                    type="text"
                                    id="customerName"
                                    name="customerName"
                                    placeholder="Enter user's full name"
                                    class="w-full focus:outline-hidden text-sm rounded-lg ps-10 p-2 border border-gray-300 bg-white text-gray-800" required/>
                        </div>
                    </div>

                    <div class="w-full mx-auto">
                        <label for="phoneNumber" class="block mb-2 text-sm font-medium text-gray-900">Phone Number</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5">
                                <i class="fa-solid fa-envelope text-gray-900"></i>
                            </div>
                            <input
                                    type="text"
                                    id="phoneNumber"
                                    name="phoneNumber"
                                    placeholder="Enter user's phone number"
                                    class="w-full focus:outline-hidden text-sm rounded-lg ps-10 p-2 border border-gray-300 bg-white text-gray-800" required/>
                        </div>
                    </div>


                    <div class="w-full mx-auto">
                        <label for="state" class="block mb-2 text-sm font-medium text-gray-900">State</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5">
                                <i class="fa-solid fa-tower-observation"></i>
                            </div>
                            <input
                                    type="text"
                                    id="state"
                                    name="state"
                                    placeholder="Enter user's state"
                                    class="w-full focus:outline-hidden text-sm rounded-lg ps-10 p-2 border border-gray-300 bg-white text-gray-800" required/>
                        </div>
                    </div>


                    <div class="w-full mx-auto">
                        <label for="townShip" class="block mb-2 text-sm font-medium text-gray-900">TownShip</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5">
                                <i class="fa-solid fa-earth-asia"></i>
                            </div>
                            <input
                                    type="text"
                                    id="townShip"
                                    name="townShip"
                                    placeholder="Enter user's townShip"
                                    class="w-full focus:outline-hidden text-sm rounded-lg ps-10 p-2 border border-gray-300 bg-white text-gray-800" required/>
                        </div>
                    </div>

                    <div class="w-full mx-auto">
                        <label for="longitude" class="block mb-2 text-sm font-medium text-gray-900">Longitude</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <input
                                    type="text"
                                    id="longitude"
                                    name="longitude"
                                    placeholder="Enter user's longitude"
                                    class="w-full focus:outline-hidden text-sm rounded-lg ps-10 p-2 border border-gray-300 bg-white text-gray-800" required/>
                        </div>
                    </div>


                    <div class="w-full mx-auto">
                        <label for="latitude" class="block mb-2 text-sm font-medium text-gray-900">Latitude</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5">
                                <i class="fa-solid fa-location-pin"></i>
                            </div>
                            <input
                                    type="text"
                                    id="latitude"
                                    name="latitude"
                                    placeholder="Enter user's latitude"
                                    class="w-full focus:outline-hidden text-sm rounded-lg ps-10 p-2 border border-gray-300 bg-white text-gray-800" required/>
                        </div>
                    </div>

                    <div class="flex flex-row justify-end gap-x-1 col-span-1">
                        <button data-modal-hide="newSurvey" type="button" class="px-5 text-sm py-2 bg-black rounded-md text-white cursor-pointer"> Cancel</button>
                        <button class="btn-animated px-5 py-2 text-sm bg-indigo-800 rounded-md text-white cursor-pointer" type="submit"><i class="fa-solid fa-square-poll-horizontal"></i> Submit</button>
                    </div>


                </div>

            </form>

        </div>


    </div>
</div>