<div th:replace="~{fragments/layout :: layout(~{::section})}">
    <section class="mx-auto w-full flex justify-center py-3">
        <div class="w-full max-w-[90%] lg:items-center overflow-hidden">
            <div th:classappend="${#authorization.expression('hasAnyAuthority(''Sale'',''Admin'')') ? 'justify-between' : 'justify-end'}"
                 class="flex xl:items-center flex-col xl:flex-row space-y-4 md:space-y-0 bg-white pb-2">

                <div class="flex flex-row space-x-2"
                     th:if="${#authorization.expression('hasAnyAuthority(''Sale'',''Admin'')')}">
                    <button data-modal-target="newSurvey" data-modal-toggle="newSurvey"
                            class="px-1.5 py-1 lg:px-3 lg:py-2 bg-gray-900 text-white rounded-md text-xs cursor-pointer">
                        <i class="fa-solid fa-user-plus pr-1"></i> Add New Survey
                    </button>
                </div>

                <div th:replace="~{fragments/modal/addNewSurvey::newSurvey(survey=${survey})}"></div>
                <form th:if="${#authorization.expression('hasAnyAuthority(''Admin'',''Technical'')')}"
                      th:action="@{/technical/survey/allSurvey}" method="get">
                    <div class="flex flex-col lg:flex-row justify-center lg:items-center gap-2 lg:gap-4">

                        <div class="flex flex-row text-xs gap-x-2 items-center">
                            <label for="size">Size</label>
                            <select name="size" id="size" class="border border-gray-200 px-2 py-2 bg-gray-50 rounded-md"
                                    onchange="cleanAndSubmit(this.form)">
                                <option value="13" th:selected="${size==13}">13</option>
                                <option value="30" th:selected="${size==30}">30</option>
                                <option value="60" th:selected="${size==60}">60</option>
                                <option value="100" th:selected="${size==100}">100</option>
                                <option value="200" th:selected="${size==200}">200</option>
                            </select>
                        </div>

                        <div class="checkActive pr-3 border-r border-gray-200">
                            <select id="status"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full py-2 px-4"
                                    name="status" onchange="cleanAndSubmit(this.form)">
                                <option value="" disabled>Filter By Status</option>
                                <option value="" th:selected="${currentStatus == null}">All Status</option>
                                <option th:each="surveyStatus : ${surveyWithPendingStatus}"
                                        th:value="${surveyStatus.name()}" th:text="${surveyStatus.getStatus()}"
                                        th:selected="${currentStatus != null and surveyStatus.name() == currentStatus.name()}"></option>
                            </select>
                        </div>
                        <div th:replace="~{fragments/dateSelect::dateSelect}">
                        </div>

                        <label for="table-search" class="sr-only">Search</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                     fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                </svg>
                            </div>
                            <input type="text" id="table-search-users" name="query" th:value="${query}"
                                   class="block p-2 ps-10 text-xs text-gray-900 border border-gray-300 rounded-lg w-40 xl:w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                                   placeholder="Search Survey">
                        </div>
                    </div>

                    <input type="hidden" name="sortDir" th:value="${sortDir}">
                    <input type="hidden" name="sortField" th:value="${sortField}">

                </form>

                <form th:if="${#authorization.expression('hasAuthority(''Sale'')')}"
                      th:action="@{/sale/survey/allSurvey}" method="get">
                    <div class="flex flex-col lg:flex-row justify-center lg:items-center gap-2 lg:gap-4">

                        <div class="flex flex-row text-xs gap-x-2 items-center">
                            <label for="size">Size</label>
                            <select name="size" id="size1" class="border border-gray-200 px-2 py-2 bg-gray-50 rounded-md"
                                    onchange="cleanAndSubmit(this.form)">
                                <option value="13" th:selected="${size==13}">13</option>
                                <option value="30" th:selected="${size==30}">30</option>
                                <option value="60" th:selected="${size==60}">60</option>
                                <option value="100" th:selected="${size==100}">100</option>
                                <option value="200" th:selected="${size==200}">200</option>
                            </select>
                        </div>

                        <div class="checkActive pr-3 border-r border-gray-200">
                            <select id="status1"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full py-2 px-4"
                                    name="status" onchange="cleanAndSubmit(this.form)">
                                <option value="" disabled>Filter By Status</option>
                                <option value="" th:selected="${currentStatus == null}">All Status</option>
                                <option th:each="surveyStatus : ${surveyWithPendingStatus}"
                                        th:value="${surveyStatus.name()}" th:text="${surveyStatus.getStatus()}"
                                        th:selected="${currentStatus != null and surveyStatus.name() == currentStatus.name()}"></option>
                            </select>
                        </div>


                        <div th:replace="~{fragments/dateSelect::dateSelect}">
                        </div>



                        <label for="table-search" class="sr-only">Search</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                     fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                </svg>
                            </div>
                            <input type="text" id="table-search-users1" name="query" th:value="${query}"
                                   class="block p-2 ps-10 text-xs text-gray-900 border border-gray-300 rounded-lg w-40 xl:w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                                   placeholder="Search Survey">
                        </div>
                    </div>

                </form>
            </div>


            <div class="table_main max-h-170 w-full overflow-y-auto overflow-x-auto">
                <table id="table-search" class="table-auto w-full min-w-full whitespace-nowrap text-xs text-gray-500">
                    <thead class="sticky top-0 text-xs text-gray-700 bg-gray-50 z-10 text-left">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            <a th:href="@{/technical/survey/allSurvey(sortField='id',
                             sortDir=${sortDir == 'asc' ? 'desc' : 'asc'},
                             page=0,
                             size=${size},
                             query=${query},
                             status=${selectedStatus} ,
                             fromDate=${fromDate},
                             toDate=${toDate})}">
                                No.
                                <span class="ml-1">
                                    <i class="fa-solid fa-arrow-up"
                                       th:classappend="${sortField == 'id' and sortDir == 'asc'} ? 'text-black' : 'text-gray-300'"></i>
                                    <i class="fa-solid fa-arrow-down"
                                       th:classappend="${sortField == 'id' and sortDir == 'desc'} ? 'text-black' : 'text-gray-300'"></i>
                                </span>
                            </a>
                        </th>

                        <th scope="col" class="px-6 py-3">
                            <a th:href="@{/technical/survey/allSurvey(sortField='generatedSurveyId', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'}, page=0, size=${size}, query=${query}, status=${selectedStatus},fromDate=${fromDate},toDate=${toDate})}">
                                SurveyId
                                <span class="ml-1">
                                    <i class="fa-solid fa-arrow-up"
                                       th:classappend="${sortField == 'generatedSurveyId' and sortDir == 'asc'} ? 'text-black' : 'text-gray-300'"></i>
                                    <i class="fa-solid fa-arrow-down"
                                       th:classappend="${sortField == 'generatedSurveyId' and sortDir == 'desc'} ? 'text-black' : 'text-gray-300'"></i>
                                </span>
                            </a>

                        </th>
                        <th scope="col" class="px-6 py-3">
                            <a th:href="@{/technical/survey/allSurvey(sortField='customerName', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'}, page=0, size=${size}, query=${query}, status=${selectedStatus},fromDate=${fromDate},toDate=${toDate})}">
                                Customer Name
                                <span class="ml-1">
                                    <i class="fa-solid fa-arrow-up"
                                       th:classappend="${sortField == 'customerName' and sortDir == 'asc'} ? 'text-black' : 'text-gray-300'"></i>
                                    <i class="fa-solid fa-arrow-down"
                                       th:classappend="${sortField == 'customerName' and sortDir == 'desc'} ? 'text-black' : 'text-gray-300'"></i>
                                </span>
                            </a>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Phone Number

                        </th>
                        <th scope="col" class="px-6 py-3">
                            <a th:href="@{/technical/survey/allSurvey(sortField='salePerson', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'}, page=0, size=${size}, query=${query}, status=${selectedStatus},fromDate=${fromDate},toDate=${toDate})}">
                                Sale Person
                                <span class="ml-1">
                                    <i class="fa-solid fa-arrow-up"
                                       th:classappend="${sortField == 'salePerson' and sortDir == 'asc'} ? 'text-black' : 'text-gray-300'"></i>
                                    <i class="fa-solid fa-arrow-down"
                                       th:classappend="${sortField == 'salePerson' and sortDir == 'desc'} ? 'text-black' : 'text-gray-300'"></i>
                                </span>

                            </a>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Survey Status
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Survey Date
                        </th>
                        <th scope="col"
                            class="px-1 py-3">
                            Action
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:if="${!surveys.hasContent()}" class="text-center">
                        <td class="text-center py-4" colspan="9">No surveys found!</td>
                    </tr>

                    <tr class="bg-white border-b border-gray-200" th:each="survey,iterStat : ${surveys}">

                        <td class="px-6 py-4" th:text="${(currentPage*size)+iterStat.index+1}">
                        </td>

                        <td class="px-6 py-4" th:text="${survey.getGeneratedSurveyId()}">
                        </td>
                        <td scope="row" class="px-6 py-4" th:text="${survey.customerName}">
                        </td>
                        <td class="px-6 py-4">
                            <span th:text="${survey.phoneNumber}"></span>
                        </td>
                        <td class="px-6 py-4">
                            <span th:text="${survey.salePerson.fullName}"></span>
                        </td>
                        <td class="px-6 py-4 flex flex-row items-center gap-x-1">
                            <div>
                                <div th:classappend="${survey.status.status == 'Pending' ? 'bg-yellow-500' :
                                (survey.status.status == 'Succeeded' ? 'bg-green-500' : 'bg-red-500')}"
                                     class="w-2.5 h-2.5 rounded-full"></div>
                            </div>
                            <div>
                                <span th:if="${#authorization.expression('hasAuthority(''Sale'')')}"
                                      th:text="${survey.status}"></span>
                                <div th:if="${#authorization.expression('hasAnyAuthority(''Admin'',''Technical'')')}">
                                    <form th:action="@{/technical/survey/updateStatus}" method="post">
                                        <input type="hidden" name="id" th:value="${survey.id}"/>
                                        <input type="hidden" name="TechPerson" th:value="${currentUser.id}"/>
                                        <select name="status" class="form-select" onchange="this.form.submit()">
                                                <option th:each="status : ${validStatusMap[survey.id]}"
                                                        th:value="${status}"
                                                        th:text="${status}"
                                                        th:selected="${status == survey.status.status}">
                                                </option>

                                        </select>
                                    </form>
                                </div>
                            </div>

                        </td>

                        <td class="px-6 py-4">
                            <span th:text="${survey.requestDate}"></span>
                        </td>

                        <td class="flex items-center space-x-1.5">
                            <a th:if="${survey.application != null}"
                               th:href="@{/application/details/{id}(id=${survey.application.generatedApplicationId})}"
                               class="bg-green-600 px-3 py-2 rounded-md text-white inline-flex items-center space-x-1">
                                <i class="fa-solid fa-check"></i>
                                <span>App</span>
                            </a>

                            <button th:if="${survey.application == null and #authorization.expression('hasAnyAuthority(''Sale'',''Admin'')')}"
                                    data-modal-target="newApplication"
                                    data-modal-toggle="newApplication"
                                    th:data-survey-id="${survey.generatedSurveyId}"
                                    th:data-customer-name="${survey.customerName}"
                                    th:data-phone-number="${survey.phoneNumber}"
                                    th:data-address="${survey.state + ', '+survey.townShip}"
                                    th:data-longitude="${survey.longitude}"
                                    th:data-latitude="${survey.latitude}"
                                    th:class="${survey.status.status == 'Succeeded' ?
             'bg-indigo-800 px-3 py-2 rounded-md text-white inline-flex items-center space-x-1 cursor-pointer createApplicationBtn' :
             'pointer-events-none cursor-not-allowed bg-gray-400 px-3 py-2 rounded-md text-gray-100 inline-flex items-center space-x-1'}">
                                <i th:class="${survey.status.status == 'Succeeded' ? 'fa-solid fa-plus' : 'fa-solid fa-ban'}"></i>
                                <span>App</span>
                            </button>

                            <button
                                    th:if="${survey.application == null and #authorization.expression('hasAuthority(''Technical'')')}"
                                    class="pointer-events-none cursor-not-allowed bg-gray-400 px-3 py-2 rounded-md text-gray-100 inline-flex items-center space-x-1">
                                <i th:class="${survey.status.status=='Pending' or survey.status.status == 'Succeeded'} ? 'fa-solid fa-spinner fa-spin' : 'fa-solid fa-ban'" style="color: #e5e9ec;"></i>
                                <span>App</span>
                            </button>

                            <a th:if="${#authorization.expression('hasAnyAuthority(''Admin'',''Technical'')')}"
                               th:href="@{/technical/survey/details/{id}(id=${survey.getGeneratedSurveyId()})}"
                               class="px-3 py-2 bg-indigo-900 rounded-md text-white">
                                <i class="fa-solid fa-arrow-right"></i> Details
                            </a>

                            <a th:if="${#authorization.expression('hasAuthority(''Sale'')')}"
                               th:href="@{/sale/survey/details/{id}(id=${survey.getGeneratedSurveyId()})}"
                               class="px-3 py-2 bg-indigo-900 rounded-md text-white">
                                <i class="fa-solid fa-arrow-right"></i> Details
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="~{fragments/modal/addNewApplication::newApplication(app=${app})}"></div>
            <div th:replace="~{fragments/pagination::SurveyPagination(${surveys},${currentPage},${totalPages},${size},${query},${currentStatus},${fromDate},${toDate})}"></div>
        </div>

    </section>
</div>
