

<div th:replace="~{fragments/layout::layout(~{::section})}">

  <section>
    <div class="flex justify-center">
      <div class="form w-xl h-auto mt-15 py-10 rounded-lg form-main">
        <p class="register text-black text-left text-xl mt-1 font-light">
          Edit User
        </p>

        <div class="input-group mt-3 w-120 m-auto">

          <form th:action="@{/register}" method="post" th:object="${user}">

            <label for="fullName" class="block mb-2 text-sm font-medium text-gray-900">Full Name</label>
            <div class="flex mb-3">
                              <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:text-gray-400">
                             <i class="fa-solid fa-user"></i>
                              </span>
              <input type="text" id="fullName" th:field="*{fullName}"
                     class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:placeholder-gray-400 focus:outline-hidden"
                     placeholder="John Doe" required>
            </div>

            <label for="phoneNumber" class="block mb-2 text-sm font-medium text-gray-900">Phone Number</label>
            <div class="flex mb-3">
                              <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:text-gray-400">
                              <i class="fa-solid fa-phone"></i>
                              </span>
              <input type="text" id="phoneNumber" th:field="*{phoneNumber}"
                     class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:placeholder-gray-400 focus:outline-hidden"
                     placeholder="+959963...." required>
            </div>


            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
            <div class="flex mb-3">
                              <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:text-gray-400">
                              <i class="fa-solid fa-envelope"></i>
                              </span>
              <input type="text" id="email" th:field="*{email}"
                     class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:placeholder-gray-400 focus:outline-hidden"
                     placeholder="elonmusk@gmail.com" required>
            </div>

            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
            <div class="flex mb-3">
                              <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:text-gray-400">
                               <i class="fa-solid fa-lock"></i>
                              </span>
              <input type="password" id="password" th:field="*{password}"
                     class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:placeholder-gray-400 focus:outline-hidden"
                     placeholder="Enter your password..." required>
            </div>

            <div class="text_part flex justify-between text-sm mt-2">
              <a th:href="@{/login}">Already have an account? <span class="text-blue-500">Login</span></a>
            </div>
            <button type="submit"
                    class="mt-5 w-full cursor-pointer text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
              SignUp <i class="fa-solid fa-user-plus"></i>
            </button>
          </form>

        </div>
      </div>
    </div>
  </section>

</div>
