
<div th:replace="~{fragments/layout :: layout(~{::section})}">
    <section class="mx-auto w-full flex justify-center py-3">
        <div class="w-full max-w-[90%] items-center overflow-hidden">
            <div class="flex justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-2 bg-white">
                <div class="flex flex-row space-x-2">

                    <div class="px-3 py-2 bg-indigo-800 text-white rounded-md text-xs inline-flex items-center space-x-1">
                        <i class="fa-solid fa-file-export"></i>
                        <button id="dropdownDefaultButton"
                                data-dropdown-toggle="dropdown"
                                class="flex items-center space-x-1 cursor-pointer">
                            <span>Export applications</span>
                            <svg class="w-2.5 h-2.5 ml-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                 fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2" d="M1 1l4 4 4-4"/>
                            </svg>
                        </button>

                        <div id="dropdown"
                             class="z-50 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44">
                            <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownDefaultButton">
                                <li>
                                    <a th:href="@{/technical/application/export(query=${query},sortDir=${sortDir},sortField=${sortField},status=${selectedStatus},fromDate=${fromDate},toDate=${toDate},type='excel')}"
                                       class="block px-4 py-2 hover:bg-gray-100"><i
                                            class="fa-solid fa-file-excel mr-2"></i>Export to Excel</a>
                                </li>

                                <li>
                                    <a th:href="@{/technical/application/export(query=${query},sortDir=${sortDir},sortField=${sortField},status=${selectedStatus},fromDate=${fromDate},toDate=${toDate},type='csv')}"
                                       class="block px-4 py-2 hover:bg-gray-100"><i
                                            class="fa-solid fa-file-csv mr-2"></i>Export to CSV</a>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>
                <form th:action="@{/technical/application/allApplications}" method="get">

                    <div class="flex md:flex-row flex-col justify-start md:justify-center md:items-center gap-4">

                        <div class="flex flex-row text-xs gap-x-2 items-center">
                            <label for="size">Size</label>
                            <select name="size" id="size" class="border border-gray-200 px-2 py-2 bg-gray-50 rounded-md" onchange="cleanAndSubmit(this.form)">
                                <option value="13" th:selected="${size==13}">13</option>
                                <option value="30" th:selected="${size==30}">30</option>
                                <option value="60" th:selected="${size==60}">60</option>
                                <option value="100" th:selected="${size==100}">100</option>
                                <option value="200" th:selected="${size==200}">200</option>
                            </select>
                        </div>


                        <div class="checkActive pr-3 border-r border-gray-200">
                            <select id="status" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full py-2 px-4" name="status" onchange="cleanAndSubmit(this.form)">
                                <option value="" disabled>Filter By Status</option>
                                <option value="" th:selected="${currentStatus == null}">All Status</option>
                                <option th:each="appStatus : ${allApplicationStatus}"
                                        th:value="${appStatus.name()}"
                                        th:text="${appStatus.getStatus()}"
                                        th:selected="${currentStatus != null and appStatus.name() == currentStatus}">
                                </option>
                            </select>
                        </div>
                        <div th:replace="~{fragments/dateSelect::dateSelect}">
                        </div>



                        <label for="table-search" class="sr-only">Search</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                </svg>
                            </div>
                            <input type="text" id="table-search-users" name="query" th:value="${query}" class="block p-2 ps-10 text-xs text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Search application">
                        </div>
                    </div>

                </form>
            </div>

            <div class="table_main max-h-170 overflow-y-auto overflow-x-auto">
                <table id="table-search" class="table-auto min-w-full w-full whitespace-nowrap text-xs rtl:text-right text-gray-500">
                    <thead class="sticky top-0 text-xs text-gray-700 bg-gray-50 z-10 text-left">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            <a th:href="@{/technical/application/allApplications(sortField='id', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'}, page=0, size=${size}, query=${query}, status=${selectedStatus})}">
                                No.
                                <span class="ml-1">
                                    <i class="fa-solid fa-arrow-up"
                                       th:classappend="${sortField == 'id' and sortDir == 'asc'} ? 'text-black' : 'text-gray-300'"></i>
                                    <i class="fa-solid fa-arrow-down"
                                       th:classappend="${sortField == 'id' and sortDir == 'desc'} ? 'text-black' : 'text-gray-300'"></i>
                                </span>
                            </a>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <a th:href="@{/technical/application/allApplications(sortField='generatedApplicationId', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'}, page=0, size=${size}, query=${query}, status=${selectedStatus})}">
                                ApplicationId
                                <span class="ml-1">
                                    <i class="fa-solid fa-arrow-up"
                                       th:classappend="${sortField == 'generatedApplicationId' and sortDir == 'asc'} ? 'text-black' : 'text-gray-300'"></i>
                                    <i class="fa-solid fa-arrow-down"
                                       th:classappend="${sortField == 'generatedApplicationId' and sortDir == 'desc'} ? 'text-black' : 'text-gray-300'"></i>
                                </span>
                            </a>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <a th:href="@{/technical/application/allApplications(sortField='survey', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'}, page=0, size=${size}, query=${query}, status=${selectedStatus})}">
                                SurveyId
                                <span class="ml-1">
                                    <i class="fa-solid fa-arrow-up"
                                       th:classappend="${sortField == 'survey' and sortDir == 'asc'} ? 'text-black' : 'text-gray-300'"></i>
                                    <i class="fa-solid fa-arrow-down"
                                       th:classappend="${sortField == 'survey' and sortDir == 'desc'} ? 'text-black' : 'text-gray-300'"></i>
                                </span>
                            </a>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <a th:href="@{/technical/application/allApplications(sortField='customerName', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'}, page=0, size=${size}, query=${query}, status=${selectedStatus})}">
                                Customer Name
                                <span class="ml-1">
                                    <i class="fa-solid fa-arrow-up"
                                       th:classappend="${sortField == 'customerName' and sortDir == 'asc'} ? 'text-black' : 'text-gray-300'"></i>
                                    <i class="fa-solid fa-arrow-down"
                                       th:classappend="${sortField == 'customerName' and sortDir == 'desc'} ? 'text-black' : 'text-gray-300'"></i>
                                </span>
                            </a>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <a th:href="@{/technical/application/allApplications(sortField='companyName', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'}, page=0, size=${size}, query=${query}, status=${selectedStatus})}">
                                Company Name
                                <span class="ml-1">
                                    <i class="fa-solid fa-arrow-up"
                                       th:classappend="${sortField == 'companyName' and sortDir == 'asc'} ? 'text-black' : 'text-gray-300'"></i>
                                    <i class="fa-solid fa-arrow-down"
                                       th:classappend="${sortField == 'companyName' and sortDir == 'desc'} ? 'text-black' : 'text-gray-300'"></i>
                                </span>
                            </a>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Phone Number
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Application Date
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Status
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <a th:href="@{/technical/application/allApplications(sortField='submittedBy', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'}, page=0, size=${size}, query=${query}, status=${selectedStatus})}">
                                SubmittedBy?
                                <span class="ml-1">
                                    <i class="fa-solid fa-arrow-up"
                                       th:classappend="${sortField == 'submittedBy' and sortDir == 'asc'} ? 'text-black' : 'text-gray-300'"></i>
                                    <i class="fa-solid fa-arrow-down"
                                       th:classappend="${sortField == 'submittedBy' and sortDir == 'desc'} ? 'text-black' : 'text-gray-300'"></i>
                                </span>
                            </a>
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Details
                        </th>

                    </tr>
                    </thead>

                    <tbody class="text-left">
                    <tr th:if="${!applications.hasContent()}" class="text-center">
                        <td class="text-center py-4" colspan="13">No applications found!</td>
                    </tr>

                    <tr class="bg-white border-b border-gray-200" th:each="app,iterStat : ${applications}">

                        <td class="px-6 py-4" th:text="${(currentPage*size)+iterStat.index+1}">
                        </td>

                        <td class="px-6 py-4" th:text="${app.generatedApplicationId}">
                        </td>

                        <td class="px-6 py-4" th:text="${app.survey?.generatedSurveyId}">
                        </td>

                        <td class="px-6 py-4">
                            <span th:text="${app.customerName}"></span>
                        </td>
                        <td class="px-6 py-4">

                            <span th:text="${app.companyName}"></span>
                        </td>

                        <td class="px-6 py-4">
                            <span th:text="${app.phoneNumber}"></span>
                        </td>

                        <td class="px-6 py-4">
                            <span th:text="${app.applicationDate}"></span>
                        </td>
                        <td class="px-6 py-4 flex flex-row items-center gap-x-1">

                            <div th:classappend="${app.applicationStatus.status == 'Pending' ? 'bg-yellow-500' :
                            (app.applicationStatus.status == 'Processing' ? 'bg-orange-500' :
                            (app.applicationStatus.status == 'Completed' ? 'bg-green-500' :
                            'bg-red-500'))}" class="w-2.5 h-2.5 rounded-full">

                            </div>

                            <div>
                                <span th:if="${#authorization.expression('hasAnyAuthority(''Sale'')')}" th:text="${app.applicationStatus}"></span>
                                <div th:if="${#authorization.expression('hasAnyAuthority(''Technical'',''Admin'')')}">
                                    <form th:action="@{/technical/application/updateStatus}" method="post">
                                        <input type="hidden" name="id" th:value="${app.id}" />
                                        <select name="status" class="form-select" onchange="this.form.submit()">
                                                <option th:each="status,iterStat : ${validStatusMap[app.id]}"
                                                        th:value="${status}"
                                                        th:text="${status.status}"
                                                        th:selected="${status == app.applicationStatus}">
                                                </option>
                                        </select>
                                    </form>
                                </div>
                            </div>


                        </td>

                        <td class="px-6 py-4">
                            <span th:text="${app.submittedBy?.fullName}"></span>
                        </td>

                        <td th:if="${#authorization.expression('hasAnyAuthority(''Technical'',''Admin'',''Sale'')')}" class="px-6 py-4 text-center">
                            <a th:href="@{/application/details/{id}(id=${app.getGeneratedApplicationId()})}" th:classappend="${application}" class="px-3 py-2 bg-indigo-800 rounded-md text-white"><i class="fa-solid fa-arrow-right"></i></a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="~{fragments/pagination::AppPagination(${applications},${currentPage},${totalPages},${size},${query})}"></div>
        </div>

    </section>
</div>
