
<div th:replace="~{fragments/layout :: layout(~{::section})}">
    <section class="mx-auto max-w-9/10 mt-8 overflow-hidden">
        <div class="relative rounded-lg">
            <div class="flex items-center justify-end flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white">

                <form th:action="@{/technical/application/allApplications}" method="get" id="filterForm">
                    <label for="table-search" class="sr-only">Search</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                        </div>
                        <input onchange="cleanAndSubmit(this.form)" type="text" id="table-search-users" name="query" th:value="${query}" class="block p-2 ps-10 text-xs text-gray-900 border border-gray-300 rounded-lg w-100 bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Search applications by ID,Name,Phone Number">
                    </div>
                </form>
            </div>

            <div class="table_main max-h-125 overflow-y-auto overflow-x-auto">
                <table id="table-search" class="table-auto min-w-full w-full whitespace-nowrap text-xs rtl:text-right text-gray-500">
                    <thead class="sticky top-0 text-xs text-gray-700 bg-gray-50 z-10 text-left">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            No.
                        </th>
                        <th scope="col" class="px-6 py-3">
                            ApplicationId
                        </th>
                        <th scope="col" class="px-6 py-3">
                            SurveyId
                        </th>
                        <th scope="col" class="px-6 py-3">
                           Customer Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                           Company Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Phone Number
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Application Date
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Status
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Submitted By
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Details
                        </th>

                    </tr>
                    </thead>

                    <tbody class="text-left">
                    <tr th:if="${!applications.hasContent()}" class="text-center">
                        <td class="text-center py-4" colspan="13">No applications found!</td>
                    </tr>

                    <tr class="bg-white border-b border-gray-200" th:each="app,iterStat : ${applications}">

                        <td class="px-6 py-4" th:text="${(currentPage*size)+iterStat.index+1}">
                        </td>

                        <td class="px-6 py-4" th:text="${app.generatedApplicationId}">
                        </td>

                        <td class="px-6 py-4" th:text="${app.survey.generatedSurveyId}">
                        </td>

                        <td class="px-6 py-4">
                            <span th:text="${app.customerName}"></span>
                        </td>
                        <td class="px-6 py-4">

                            <span th:text="${app.companyName}"></span>
                        </td>

                        <td class="px-6 py-4">
                            <span th:text="${app.phoneNumber}"></span>
                        </td>

                        <td class="px-6 py-4">
                            <span th:text="${app.applicationDate}"></span>
                        </td>
                        <td class="px-6 py-4">
                            <span th:if="${#authorization.expression('hasAnyAuthority(''Sale'')')}" th:text="${app.applicationStatus}"></span>
                            <div th:if="${#authorization.expression('hasAnyAuthority(''Technical'',''Admin'')')}">
                                <form th:action="@{/technical/application/updateStatus}" method="post">
                                    <input type="hidden" name="id" th:value="${app.id}" />
                                    <select name="status" class="form-select" onchange="this.form.submit()">

                                        <th:block th:if="${app.applicationStatus.status == 'Pending'}">
                                            <option th:each="status,iterStat : ${applicationWithPendingStatus}"
                                                    th:value="${status}"
                                                    th:text="${status.status}"
                                                    th:selected="${status == app.applicationStatus}">
                                            </option>
                                        </th:block>

                                        <th:block th:if="${app.applicationStatus.status != 'Pending'}">
                                            <option th:each="status,iterStat : ${applicationWithNonePendingStatus}"
                                                    th:value="${status}"
                                                    th:text="${status.status}"
                                                    th:selected="${status == app.applicationStatus}">
                                            </option>
                                        </th:block>
                                    </select>
                                </form>
                            </div>
                        </td>
                        <td class="px-6 py-4">
                            <span th:text="${app.submittedBy.fullName}"></span>
                        </td>
                        <td th:if="${#authorization.expression('hasAnyAuthority(''Technical'',''Admin'',''Sale'')')}" class="px-6 py-4 text-center">
                            <a th:href="@{/application/details/{id}(id=${app.getGeneratedApplicationId()})}" th:classappend="${application}" class="px-3 py-2 bg-indigo-800 rounded-md text-white"><i class="fa-solid fa-arrow-right"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="~{fragments/pagination::AppPagination(${applications},${currentPage},${totalPages},${size},${query})}"></div>
        </div>

    </section>
</div>
