<div th:replace="~{fragments/layout::layout(~{::section})}">

    <section class="mx-auto w-[95%] md:w-[90%] py-6">
        <div class="flex flex-col-reverse xl:flex-row gap-5">
            <div class="w-full xl:w-[60%]">
                <div class="w-full bg-gradient-to-r from-indigo-500 via-purple-500 to-indigo-500 h-2 rounded-t-md"></div>
                <div class="px-3 md:px-7 py-3 md:py-1 shadow-md">

                    <div class="header-section flex flex-row justify-between items-start md:items-center gap-y-4 py-4">

                        <div class="flex flex-col md:flex-row items-start md:items-center gap-2">
                            <p class="text-lg md:text-xl font-semibold text-indigo-700">Application Details</p>
                            <span th:text="${applications.generatedApplicationId}"
                                  class="text-indigo-800 bg-indigo-100 px-3 py-1 text-xs rounded-xl">
              </span>
                        </div>

                        <div class="flex items-center gap-x-2 text-xs rounded-xl border px-4 py-1 text-center"
                             th:classappend="${applications.applicationStatus.name() == 'PENDING' ? 'text-yellow-600 bg-yellow-50 border-yellow-400' :
             applications.applicationStatus.name() == 'PROCESSING' ? 'text-blue-600 bg-blue-50 border-blue-400' :
             applications.applicationStatus.name() == 'COMPLETED' ? 'text-green-600 bg-green-50 border-green-400' :
             applications.applicationStatus.name() == 'CANCELLED' ? 'text-red-600 bg-red-50 border-red-400' : ''}">
                            <div class="w-2 h-2 rounded-full"></div>
                            <i th:class="${applications.applicationStatus.name() == 'PENDING'    ? 'fa-solid fa-hourglass-half text-yellow-500' :
              applications.applicationStatus.name() == 'PROCESSING' ? 'fa-solid fa-spinner fa-spin text-blue-500' :
              applications.applicationStatus.name() == 'COMPLETED'  ? 'fa-solid fa-circle-check text-green-500' :
              applications.applicationStatus.name() == 'CANCELLED'  ? 'fa-solid fa-circle-xmark text-red-500' :
              'fa-solid fa-question-circle'}"></i>
                            <p th:text="${applications.applicationStatus.status}"></p>
                        </div>
                    </div>

                    <div class="mb-2 border-b border-gray-200">
                        <ul class="flex flex-wrap -mb-px text-xs font-medium text-center" id="default-styled-tab"
                            data-tabs-toggle="#default-styled-tab-content"
                            data-tabs-active-classes="text-indigo-600 hover:text-indigo-600 border-indigo-600 bg-gradient-to-t from-blue-100 to-slate-50"
                            data-tabs-inactive-classes="text-gray-500 hover:text-indigo-900 border-transparent hover:border-indigo-500 hover:bg-gradient-to-t hover:from-blue-100 hover:to-slate-50"
                            role="tablist">
                            <li class="me-2" role="presentation">
                                <button class="inline-block py-4 px-4 text-center border-b-2 rounded-t-lg"
                                        id="profile-styled-tab" data-tabs-target="#styled-profile" type="button"
                                        role="tab" aria-controls="profile" aria-selected="false"><i
                                        class="fa-solid fa-square-poll-vertical"></i> App Details
                                </button>
                            </li>
                            <li class="me-2" role="presentation">
                                <button class="inline-block py-4 px-4 text-center border-b-2 rounded-t-lg"
                                        id="dashboard-styled-tab" data-tabs-target="#styled-dashboard" type="button"
                                        role="tab" aria-controls="dashboard" aria-selected="false"><i
                                        class="fa-solid fa-list-check"></i> Assignment Info
                                </button>
                            </li>
                            <li id="map-tab" class="me-2" role="presentation">
                                <button class="inline-block py-4 px-4 text-center border-b-2 rounded-t-lg"
                                        id="map-styled-tab" data-tabs-target="#styled-settings" type="button" role="tab"
                                        aria-controls="settings" aria-selected="false"><i class="fa-solid fa-map"></i>
                                    Map
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div id="default-styled-tab-content text-xs">
                        <div class="hidden px-8 py-7 rounded-lg shadow-lg mb-4" id="styled-profile" role="tabpanel"
                             aria-labelledby="profile-tab">
                            <form th:action="@{{id}(id=${applications.generatedApplicationId})}" method="post"
                                  th:object="${applications}">

                                <input type="hidden" name="id" th:value="${applications.id}">

                                <div class="pb-1">
                                    <div class="small-head flex flex-row gap-x-1 items-center text-[14px] font-semibold border-b border-gray-200 pb-2">
                                        <i class="fa-solid fa-circle-info text-indigo-800"></i> Basic Information
                                    </div>

                                </div>


                                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

                                    <div class="w-full mx-auto">
                                        <label for="generatedApplicationId"
                                               class="block mb-2 text-xs font-medium text-gray-900">Generated
                                            Application ID</label>
                                        <div class="relative">
                                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5">
                                                <i class="fa-solid fa-clipboard-list"></i>
                                            </div>
                                            <input
                                                    type="text"
                                                    id="generatedApplicationId"
                                                    name="generatedApplicationId"
                                                    th:value="${applications.generatedApplicationId}"
                                                    placeholder="generatedApplicationId"
                                                    readonly disabled
                                                    class="border-gray-300 w-full focus:outline-hidden border text-xs rounded-lg ps-10 p-2 bg-gray-200 text-gray-700"/>
                                            <div id="tooltip"
                                                 class="absolute -top-8 right-0 bg-black text-white text-xs px-2 py-1 rounded opacity-0 transition-opacity">
                                                Copied!
                                            </div>
                                            <div onclick="copyText('generatedApplicationId','tooltip')"
                                                 class="absolute inset-y-0 end-0 flex items-center pe-3.5 cursor-pointer"
                                                 id="applicationIdCopyButton">
                                                <i class="fa-solid fa-copy text-gray-800"></i>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="w-full mx-auto">
                                        <label for="generatedSurveyId"
                                               class="block mb-2 text-xs font-medium text-gray-900">Generated Survey
                                            ID</label>
                                        <div class="relative">
                                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5">
                                                <i class="fa-solid fa-clipboard-list"></i>
                                            </div>

                                            <input
                                                    type="text"
                                                    id="generatedSurveyId"
                                                    name="generatedSurveyId"
                                                    th:value="${applications.survey.generatedSurveyId}"
                                                    placeholder="generatedSurveyId"
                                                    readonly disabled
                                                    class="border-gray-300 w-full focus:outline-hidden border text-xs rounded-lg ps-10 p-2 bg-gray-200 text-gray-700"/>
                                            <div id="surveyTooltip"
                                                 class="absolute -top-8 right-0 bg-black text-white text-xs px-2 py-1 rounded opacity-0 transition-opacity">
                                                Copied!
                                            </div>
                                            <div onclick="copyText('generatedSurveyId','surveyTooltip')"
                                                 class="absolute inset-y-0 end-0 flex items-center pe-3.5 cursor-pointer"
                                                 id="applicationIdCopyButton">
                                                <i class="fa-solid fa-copy text-gray-800"></i>
                                            </div>
                                        </div>
                                    </div>


                                    <div th:replace="fragments/input-field::
                input-field('companyName',
                'Company Name',
                'text',
                ${applications.companyName},
                'companyName',
                'companyName',
                '',
                'fa-building text-indigo-800',
                ${!isEditable},
                ${!isEditable})">
                                    </div>

                                </div>


                                <div class="pb-2 pt-6">
                                    <div class="small-head flex flex-row gap-x-1 items-center text-[14px] font-semibold border-b border-gray-200 pb-2">
                                        <i class="fa-solid fa-address-card text-indigo-800"></i> Contact Information
                                    </div>
                                </div>
                                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                                    <div th:replace="fragments/input-field::input-field(
                                        'customerName',
                                        'Customer Name',
                                        'text',
                                        ${applications.customerName},
                                        'customerName',
                                        'customerName',
                                        '',
                                        'fa-user text-indigo-800'
                                        ,${!isEditable},
                                        ${!isEditable})">
                                    </div>
                                    <div th:replace="fragments/input-field::input-field(
                                        'contactEmail',
                                        'Contact Email',
                                        'text',
                                        ${applications.contactEmail},
                                        'contactEmail',
                                        'contactEmail',
                                        '',
                                        'fa-envelope text-indigo-800',
                                        ${!isEditable},
                                        ${!isEditable})">
                                    </div>
                                    <div th:replace="fragments/input-field::input-field(
                                        'phoneNumber',
                                        'Phone Number',
                                        'text',
                                        ${applications.phoneNumber},
                                        'phoneNumber',
                                        'phoneNumber',
                                        '',
                                        'fa-phone text-indigo-800',
                                        ${!isEditable},
                                        ${!isEditable})">
                                    </div>
                                </div>


                                <div class="pb-2 pt-6">
                                    <div class="small-head flex flex-row gap-x-1 items-center text-[14px] font-semibold border-b border-gray-200 pb-2">
                                        <i class="fa-solid fa-location-dot text-indigo-800"></i> Location Details
                                    </div>
                                </div>

                                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

                                    <div th:replace="fragments/input-field::input-field(
                                        'address',
                                        'Address',
                                        'text',
                                        ${applications.address},
                                        'address',
                                        'address',
                                        '',
                                        'fa-location-dot text-indigo-800',
                                        ${!isEditable},
                                        ${!isEditable})">
                                    </div>

                                    <div th:replace="fragments/input-field::input-field(
                                        'longitude',
                                        'Longitude',
                                        'text',
                                        ${applications.longitude},
                                        'longitude',
                                        'longitude',
                                        '',
                                        'fa-location-crosshairs text-indigo-800',
                                        ${!isEditable},
                                        ${!isEditable})">
                                    </div>

                                    <div th:replace="fragments/input-field::input-field(
                                        'latitude',
                                        'Latitude',
                                        'text',
                                        ${applications.latitude},
                                        'latitude',
                                        'latitude',
                                        '',
                                        'fa-location-crosshairs text-indigo-800',
                                        ${!isEditable},
                                        ${!isEditable})">
                                    </div>

                                </div>

                                <div class="pb-2 pt-6">
                                    <div class="small-head flex flex-row gap-x-1 items-center text-[14px] font-semibold border-b border-gray-200 pb-2">
                                        <i class="fa-solid fa-chart-simple text-indigo-800"></i> Application Status
                                    </div>
                                </div>


                                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

                                    <div class="w-full mx-auto">
                                        <label for="applicationStatus" class="block mb-2 text-xs font-medium">Application
                                            Status</label>
                                        <div class="relative">
                                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5">
                                                <i th:class="${applications.applicationStatus.name() == 'PENDING'    ? 'fa-solid fa-hourglass-half text-yellow-500' :
                                                applications.applicationStatus.name() == 'PROCESSING' ? 'fa-solid fa-spinner fa-spin text-blue-500' :
                                                applications.applicationStatus.name() == 'COMPLETED'  ? 'fa-solid fa-circle-check text-green-500' :
                                                applications.applicationStatus.name() == 'CANCELLED'  ? 'fa-solid fa-circle-xmark text-red-500' :
                                                'fa-solid fa-question-circle'}">
                                                </i>
                                            </div>

                                            <input
                                                    type="text"
                                                    id="applicationStatus"
                                                    name="applicationStatus"
                                                    th:value="${applications.applicationStatus}"
                                                    placeholder="Application Status"
                                                    readonly disabled
                                                    class="w-full focus:outline-hidden text-xs rounded-lg ps-10 p-2 border"
                                                    th:classappend="${applications.applicationStatus.name() == 'PENDING' ? 'text-yellow-600 bg-yellow-50 border-yellow-400' :
                                                       applications.applicationStatus.name() == 'PROCESSING' ? 'text-blue-600 bg-blue-50 border-blue-400' :
                                                       applications.applicationStatus.name() == 'COMPLETED' ? 'text-green-600 bg-green-50 border-green-400' :
                                                       applications.applicationStatus.name() == 'CANCELLED' ? 'text-red-600 bg-red-50 border-red-400' : ''}"/>
                                        </div>
                                    </div>


                                    <div class="w-full mx-auto"
                                         th:if="${#authorization.expression('hasAnyAuthority(''Admin'',''Technical'')')}">
                                        <label for="applicationStatus"
                                               class="block mb-2 text-xs font-medium text-gray-900">Update Application
                                            Status</label>
                                        <div class="relative">
                                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5">
                                                <i class="fa-solid fa-clipboard-list text-indigo-800"></i>
                                            </div>

                                            <select name="applicationStatus"
                                                    class="form-select w-full focus:outline-hidden text-xs rounded-lg ps-10 p-2 border border-gray-200">

                                                <option th:each="status,iterStat : ${status}"
                                                        th:value="${status.name()}"
                                                        th:text="${status.getStatus()}"
                                                        th:selected="${status.name() == applications.applicationStatus.name()}">
                                                </option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="w-full mx-auto">
                                        <label for="submittedBy" class="block mb-2 text-xs font-medium text-gray-900">Submitted
                                            By?</label>
                                        <div class="relative">
                                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5">
                                                <i class="fa-solid fa-user"></i>
                                            </div>
                                            <input
                                                    type="text"
                                                    id="submittedBy"
                                                    th:value="${applications.submittedBy.fullName}"
                                                    placeholder="submittedBy"
                                                    readonly
                                                    disabled
                                                    class="w-full focus:outline-hidden text-xs rounded-lg ps-10 p-2 border border-gray-300 bg-gray-200 text-gray-700"/>
                                            <div id="submittedByTooltip"
                                                 class="absolute -top-8 right-0 bg-black text-white text-xs px-2 py-1 rounded opacity-0 transition-opacity">
                                                Copied!
                                            </div>
                                            <div onclick="copyText('submittedBy','submittedByTooltip')"
                                                 class="absolute inset-y-0 end-0 flex items-center pe-3.5 cursor-pointer">
                                                <i class="fa-solid fa-copy text-gray-800"></i>
                                            </div>
                                            <input type="hidden" name="submittedBy"
                                                   th:value="${applications.submittedBy.id}">
                                        </div>
                                    </div>

                                    <div th:replace="fragments/input-field::input-field(
                                        'applicationDate',
                                        'Application Date',
                                        'date',
                                        ${applications.applicationDate},
                                        'applicationDate',
                                        'applicationDate',
                                        '',
                                        'fa-calendar text-indigo-800',
                                        ${!isEditable},
                                        ${!isEditable})">
                                    </div>
                                </div>


                                <div class="grid grid-cols-1 mt-6">
                                    <div class="w-full mx-auto">
                                        <label for="comment" class="block mb-2 text-xs font-medium text-gray-900"><i
                                                class="fa-solid fa-comment text-indigo-800"></i> Comment</label>
                                        <div class="relative">
                                              <textarea rows="3" id="comment" name="comment"
                                                        th:text="${applications.comment}"
                                                        th:readonly="${!isEditable}"
                                                        th:disabled="${!isEditable}"
                                                        class="bg-gray-50 focus:outline-hidden border border-gray-300 text-gray-900 text-xs rounded-lg w-full ps-4 p-2.5 max-h-20 min-h-10">
                                              </textarea>
                                        </div>
                                    </div>

                                </div>

                                <div class="w-full button-group flex flex-col md:flex-row justify-between items-center gap-2 pt-7">


                                    <div class="flex gap-2 w-full md:w-auto justify-center md:justify-start">
                                        <a th:if="${isEditable}"
                                           th:href="@{/technical/application/allApplications}"
                                           class="w-full md:w-auto px-5 py-3 bg-transparent border border-gray-300 rounded-md cursor-pointer text-xs text-center">
                                            <i class="fa-solid fa-chevron-left mr-1"></i> Back to applications
                                        </a>
                                        <a th:if="${!isEditable}"
                                           th:href="@{/sale/application/allApplications}"
                                           class="w-full md:w-auto px-5 py-3 bg-transparent border border-gray-300 rounded-md cursor-pointer text-xs text-center">
                                            <i class="fa-solid fa-chevron-left mr-1"></i> Back to applications
                                        </a>
                                    </div>

                                    <div th:if="${isEditable}" class="w-full md:w-auto text-center">
                                        <button type="submit"
                                                class="btn-animated w-full md:w-auto px-5 py-3 bg-gradient-to-r from-indigo-500 to-purple-500 text-white rounded-md cursor-pointer text-xs">
                                            <i class="fa-solid fa-pen-to-square mr-1"></i> Update application
                                        </button>
                                    </div>

                                </div>
                            </form>
                        </div>


                        <div class="hidden p-4 rounded-lg bg-gray-100" id="styled-dashboard" role="tabpanel"
                             aria-labelledby="dashboard-tab">
                            <p class="text-sm text-gray-600">This is some placeholder content the <strong
                                    class="font-medium text-gray-800">Dashboard tab's associated content</strong>.
                                Clicking another tab will toggle the visibility of this one for the next. The tab
                                JavaScript swaps classes to control the content visibility and styling.</p>
                        </div>


                        <div class="hidden p-0 md:p-4 rounded-lg" id="styled-settings" role="tabpanel"
                             aria-labelledby="settings-tab">
                            <div class="shadow-md px-3 md:px-9 py-4">
                                <div class="flex gap-x-2 items-center">
                                    <i class="fa-solid fa-map text-indigo-700"></i>
                                    <p class="font-semibold">Location Map</p>
                                </div>
                                <hr class="mt-2 text-gray-200 w-full">
                                <div id="ShowMap" th:data-lat="${applications.latitude}"
                                     th:data-lng="${applications.longitude}"
                                     class="w-full rounded-lg border border-gray-300" style="height: 460px;"></div>
                                <div class="p-3 border border-gray-200 rounded-md text-sm mt-3">
                                    <p class="font-base">Address</p>
                                    <p class="font-light" th:text="${applications.address}"></p>
                                </div>
                                <div class="flex flex-row gap-x-3">
                                    <div class="p-3 border border-gray-200 rounded-md text-sm mt-3 flex-grow">
                                        <p class="font-base">Longitude</p>
                                        <p class="font-light" th:text="${applications.longitude}"></p>
                                    </div>
                                    <div class="p-3 border border-gray-200 rounded-md text-sm mt-3 flex-grow">
                                        <p class="font-base">Latitude</p>
                                        <p class="font-light" th:text="${applications.latitude}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="w-full xl:w-[40%] shadow-md">

                <div class="w-full bg-gradient-to-r from-indigo-500 via-purple-500 to-indigo-500 h-2 rounded-t-md"></div>
                <div class="header w-[90%] mx-auto my-5 text-xl">
                    <i class="fa-solid fa-circle-info text-indigo-500"></i> Details Information
                    <hr class="mt-2 w-full text-gray-200 rounded-t-md">
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-1 items-center">
                    <div class="flex relative flex-row person-card w-[90%] mx-auto my-4 shadow-md hover:shadow-lg hover:transition hover:ease-in-out hover:duration-3s rounded-xl cursor-pointer border border-1 border-green-400 bg-green-50">
                        <div class="image-section w-[30%] flex pt-4 justify-center py-3">
                            <div class="flex justify-center items-center w-25 h-25 rounded-xl bg-green-600 text-white">
                                <i class="fa-solid fa-user text-5xl" style="color: #ffffff;"></i>
                            </div>
                        </div>
                        <div class="text-section py-4 w-[70%]">
                            <div class="flex flex-col gap-y-2">
                                <p class="font-bold text-lg uppercase text-green-800">Customer Information</p>
                                <p class="font-base flex flex-row items-center gap-x-2 text-sm">
                                    <i class="fa-solid fa-user-secret text-white p-1.5 bg-green-500 rounded-md text-sm"></i>
                                    <span class="text-green-600" th:text="${applications.customerName}"></span>
                                </p>
                                <p class="font-light flex flex-row items-center text-sm gap-x-2">
                                    <i class="fa-solid fa-envelope text-white p-1.5 bg-green-500 rounded-md text-sm"></i>
                                    <span class="text-green-600" th:text="${applications.contactEmail}"></span>
                                </p>
                                <p class="font-light flex flex-row items-center text-sm gap-x-2">
                                    <i class="fa-solid fa-phone-volume text-white p-1.5 bg-green-500 rounded-md text-sm"></i>
                                    <span class="text-green-600" th:text="${applications.phoneNumber}"></span>
                                </p>
                            </div>
                        </div>

                    </div>


                    <div class="flex relative flex-row person-card w-[90%] mx-auto my-4 shadow-md hover:shadow-lg hover:transition hover:ease-in-out hover:duration-3s rounded-xl cursor-pointer border border-1 border-yellow-400 bg-yellow-50">
                        <div class="image-section w-[30%] flex pt-4 justify-center py-3">
<!--                            <div class="flex justify-center items-center w-25 h-25 rounded-xl bg-yellow-600">-->
<!--                                <img src="/images/img_1.png" alt="" class="rounded-xl">-->
<!--                            </div>-->
                            <div class="flex justify-center items-center w-25 h-25 rounded-xl bg-yellow-600 text-white">
                                <i class="fa-solid fa-user text-5xl" style="color: #ffffff;"></i>
                            </div>
                        </div>
                        <div class="text-section py-4 w-[70%]">
                            <div class="flex flex-col gap-y-2">
                                <p class="font-bold text-lg uppercase text-yellow-800">Sale User Information</p>
                                <p class="font-base flex flex-row items-center gap-x-2 text-sm">
                                    <i class="fa-solid fa-user-secret text-white p-1.5 bg-yellow-500 rounded-md text-sm"></i>
                                    <span class="text-yellow-600" th:text="${applications.submittedBy.fullName}"></span>
                                </p>
                                <p class="font-light flex flex-row items-center text-sm gap-x-2">
                                    <i class="fa-solid fa-envelope text-white p-1.5 bg-yellow-500 rounded-md text-sm"></i>
                                    <span class="text-yellow-600" th:text="${applications.submittedBy.email}"></span>
                                </p>
                                <p class="font-light flex flex-row items-center text-sm gap-x-2">
                                    <i class="fa-solid fa-phone-volume text-white p-1.5 bg-yellow-500 rounded-md text-sm"></i>
                                    <span class="text-yellow-600"
                                          th:text="${applications.submittedBy.phoneNumber}"></span>
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="flex relative flex-row person-card w-[90%] mx-auto my-4 shadow-md hover:shadow-lg hover:transition hover:ease-in-out hover:duration-3s rounded-xl cursor-pointer border border-1 border-indigo-400 bg-indigo-50">
                        <div class="image-section w-[30%] flex pt-4 justify-center py-3">
                            <div class="flex justify-center items-center w-25 h-25 rounded-xl bg-indigo-600">
                                <i class="fa-solid fa-square-poll-horizontal text-white text-5xl"></i>
                            </div>
                        </div>
                        <div class="text-section py-4 w-[70%]">
                            <div class="flex flex-col gap-y-2">
                                <p class="font-bold text-lg uppercase text-indigo-800">Application Information</p>
                                <p class="font-base flex flex-row items-center gap-x-2 text-sm">

                                    <i th:class="${applications.applicationStatus.name() == 'PENDING'    ? 'fa-solid fa-hourglass-half text-white p-1.5 bg-indigo-500 rounded-md text-sm' :
                                        applications.applicationStatus.name() == 'PROCESSING' ? 'fa-solid fa-spinner fa-spin text-white p-1.5 bg-indigo-500 rounded-full text-sm' :
                                        applications.applicationStatus.name() == 'COMPLETED'  ? 'fa-solid fa-circle-check text-white p-1.5 bg-indigo-500 rounded-md text-sm' :
                                        applications.applicationStatus.name() == 'CANCELLED'  ? 'fa-solid fa-circle-xmark text-white p-1.5 bg-indigo-500 rounded-md text-sm' :
                                        'fa-solid fa-question-circle'}"></i>

                                    <span th:class="${applications.applicationStatus.name() == 'PENDING' ? 'text-indigo-600' :
                                         applications.applicationStatus.name() == 'PROCESSING' ? 'text-indigo-600' :
                                         applications.applicationStatus.name() == 'COMPLETED' ? 'text-indigo-600' :
                                         applications.applicationStatus.name() == 'CANCELLED' ? 'text-indigo-600' : ''}"
                                                                  th:text="${applications.applicationStatus.getStatus()}"></span>
                                </p>
                                <p class="font-light flex flex-row items-center text-sm gap-x-2">
                                    <i class="fa-solid fa-clock text-white p-1.5 bg-indigo-500 rounded-md text-sm"></i>
                                    <span class="text-indigo-600" th:text="${applications.applicationDate}"></span>
                                </p>
                                <p class="font-light flex flex-row items-center text-sm gap-x-2">
                                    <i class="fa-solid fa-calendar text-white p-1.5 bg-indigo-500 rounded-md text-sm"></i>
                                    <span class="text-indigo-600" th:text="${applications.createdAt}"></span>
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="flex relative flex-row person-card w-[90%] mx-auto my-4 shadow-md hover:shadow-lg hover:transition hover:ease-in-out hover:duration-3s rounded-xl cursor-pointer border border-1 border-purple-400 bg-purple-50">
                        <div class="image-section w-[30%] flex pt-4 justify-center py-3">
                            <div class="flex justify-center items-center w-25 h-25 rounded-xl bg-purple-600">
                                <i class="fa-solid fa-location-dot text-white text-5xl"></i>
                            </div>
                        </div>
                        <div class="text-section py-4 w-[70%]">
                            <div class="flex flex-col gap-y-2">
                                <p class="font-bold text-lg uppercase text-purple-800">Location Information</p>
                                <p class="font-base flex flex-row items-center gap-x-2 text-sm">

                                    <i class="fa-solid fa-address-card text-white p-1.5 bg-purple-500 rounded-md text-sm"></i>
                                    <span class="text-purple-600" th:text="${applications.address}"></span>
                                </p>
                                <p class="font-light flex flex-row items-center text-sm gap-x-2">
                                    <i class="fa-solid fa-location-pin text-white p-1.5 bg-purple-500 rounded-md text-sm"></i>
                                    <span class="text-purple-600" th:text="${applications.longitude}"></span>
                                </p>
                                <p class="font-light flex flex-row items-center text-sm gap-x-2">
                                    <i class="fa-solid fa-location text-white p-1.5 bg-purple-500 rounded-md text-sm"></i>
                                    <span class="text-purple-600" th:text="${applications.latitude}"></span>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </section>

</div>