<div th:replace="~{fragments/layout::layout(~{::section})}">
  <section>
    <form method="post" action="/sale/application/add" th:object="${applications}">

      <div class="border-b border-gray-900/10 pb-7 max-w-5xl mx-auto mt-2 shadow-lg p-5 rounded-xl">
        <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.token}">
        <input type="hidden" name="submittedBy" th:value="${currentUser.id}"/>
          <input type="hidden" name="survey" th:value="${surveyId}"/>
        <h1>Create New application</h1>
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label for="customerName" class="block text-sm/6 font-medium text-gray-900">Customer Name</label>
            <div class="mt-2">
              <input type="text" th:field="*{customerName}" id="customerName" autocomplete="customerName" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="companyName" class="block text-sm/6 font-medium text-gray-900">Company Name</label>
            <div class="mt-2">
              <input type="text" th:field="*{companyName}" id="companyName" autocomplete="companyName" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="address" class="block text-sm/6 font-medium text-gray-900">Address</label>
            <div class="mt-2">
              <input id="address" th:field="*{address}" type="text" autocomplete="address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="phoneNumber" class="block text-sm/6 font-medium text-gray-900">phoneNumber</label>
            <div class="mt-2">
              <input id="phoneNumber" th:field="*{phoneNumber}" type="text" autocomplete="township" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
            </div>
          </div>

          <div class="sm:col-span-6">
            <label for="contactEmail" class="block text-sm/6 font-medium text-gray-900">Contact Email</label>
            <div class="mt-2">
              <input id="contactEmail" th:field="*{contactEmail}" type="text" autocomplete="contactEmail" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
            </div>
          </div>

            <div class="sm:col-span-3">
                <label for="longitude" class="block text-sm/6 font-medium text-gray-900">Longitude</label>
                <div class="mt-2">
                    <input id="longitude" th:field="*{longitude}" type="text" autocomplete="longitude" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
            </div>

          <div class="sm:col-span-3">
            <label for="latitude" class="block text-sm/6 font-medium text-gray-900">Latitude</label>
            <div class="mt-2">
              <input id="latitude" th:field="*{latitude}" type="text" autocomplete="latitude" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
            </div>
          </div>

            <div class="sm:col-span-6">
                <label for="comment" class="block text-sm/6 font-medium text-gray-900">Comment</label>
                <div class="mt-2">
                    <textarea id="comment" th:field="*{comment}" placeholder="What is on your mind?...." autocomplete="comment" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    </textarea>
                </div>
            </div>


        </div>
          <button type="submit" class="px-2 mt-5 text-sm py-2 bg-indigo-800 cursor-pointer text-white rounded-lg text-md"> <i class="fa-solid fa-clipboard-list pr-2"></i>Create Application</button>
      </div>
    </form>
  </section>
</div>