<div th:replace="~{fragments/layout::layout(~{::section})}">
  <section class="max-w-7xl mx-auto">
    <form method="POST" th:object="${user}" th:action="@{/admin/edit/{id}(id=*{id})}">
      <label for="Full Name">Full Name</label>
      <input type="text" th:field="*{fullName}" id="Full Name" name="fullName" placeholder="Full Name" class="px-6 py-4" th:value="*{fullName}"/>

      <label for="email">Email</label>
      <input type="text" th:field="*{email}" id="email" name="email" placeholder="email" class="px-6 py-4" th:value="*{email}"/>

      <label for="Phone Number">Phone Number</label>
      <input type="text" th:field="*{phoneNumber}" id="Phone Number" name="phoneNumber" placeholder="Phone Number" class="px-6 py-4" th:value="*{phoneNumber}"/>

      <label for="password">Password</label>
      <input type="password" th:field="*{password}" id="password" name="password" placeholder="Password" class="px-6 py-4" th:value="*{password}"/>

      <label for="role">Role</label>
      <select name="role" id="role">
        <option th:each="rol : ${role}" th:value="${rol.id}" th:text="${rol.roleName}"></option>
      </select>

      <label for="Status">Status</label>
      <select name="status" id="status" th:field="*{status}">
        <option th:value="0">Inactive</option>
        <option th:value="1">Active</option>
      </select>

      <input type="submit" value="Submit">
    </form>
  </section>
</div>