

<div th:replace="~{fragments/layout::layout(~{::section})}">

  <section>
    <div class="flex justify-center">
      <div class="form w-xl h-auto mt-8 py-10 rounded-lg form-main">
        <p class="register text-black text-center text-xl mt-1 font-light">
          Edit User
        </p>

        <div class="input-group mt-3 w-120 m-auto">

          <form th:action="@{/admin/user/edit/{id}(id=${id})}" method="post" th:object="${user}">

            <label for="fullName" class="block mb-2 text-sm font-medium text-gray-900">Full Name</label>
            <div class="flex mb-3">
                              <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:text-gray-400">
                             <i class="fa-solid fa-user"></i>
                              </span>
              <input type="text" id="fullName" th:field="*{fullName}"
                     class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:placeholder-gray-400 focus:outline-hidden"
                     placeholder="John Doe" required>
            </div>

            <label for="phoneNumber" class="block mb-2 text-sm font-medium text-gray-900">Phone Number</label>
            <div class="flex mb-3">
                              <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:text-gray-400">
                              <i class="fa-solid fa-phone"></i>
                              </span>
              <input type="text" id="phoneNumber" th:field="*{phoneNumber}"
                     class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:placeholder-gray-400 focus:outline-hidden"
                     placeholder="+959963...." required>
            </div>


            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
            <div class="flex mb-3">
                              <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:text-gray-400">
                              <i class="fa-solid fa-envelope"></i>
                              </span>
              <input type="text" id="email" th:field="*{email}"
                     class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:placeholder-gray-400 focus:outline-hidden"
                     placeholder="elonmusk@gmail.com" required>
            </div>

            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
            <div class="flex mb-3">
                              <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:text-gray-400">
                               <i class="fa-solid fa-lock"></i>
                              </span>
              <input type="password" id="password" th:field="*{password}"
                     class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:placeholder-gray-400 focus:outline-hidden"
                     placeholder="Update user password...">
            </div>

              <div class="flex flex-row">
                  <div class="w-1/2 pr-3">
                          <label for="role" class="block mb-2 text-sm font-medium text-gray-900">Update Role</label>
                          <select id="role" name="role" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                              <option th:each="rol : ${role}" th:value="${rol.id}" th:text="${rol.roleName}" th:selected="${rol.id == user.role.id}"></option>
                          </select>
                  </div>

                  <div class="w-1/2 pl-3">
                          <label for="status" class="block mb-2 text-sm font-medium text-gray-900">Update Status</label>
                          <select id="status" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                             <option th:selected="${user.status == 'true'}">Active</option>
                              <option th:selected="${user.status == 'false'}">Inactive</option>

                          </select>
                  </div>

              </div>
              <button type="submit"
                      class="mt-5 w-full cursor-pointer text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                  <i class="fa-solid fa-pen-to-square pr-1"></i> Update
              </button>


          </form>

        </div>
      </div>
    </div>
  </section>

</div>
