<div th:replace="~{fragments/layout::layout(~{::section})}" xmlns:x-bind="http://www.w3.org/1999/xhtml">

    <section class="mx-auto">
        <div class="flex flex-row justify-evenly items-center h-full relative">
            <div class="flex flex-col-reverse lg:flex-row-reverse gap-x-5 form w-auto h-auto lg:mt-1 px-10 py-20 rounded-lg form-main items-center">
                <div class="pt-5 lg:pt-0 lg:border-l border-gray-200 lg:pl-10">
                    <p class="register text-indigo-700 text-xl font-bold mb-4">
                        <i class="fa-solid fa-user-pen"></i> Edit User Information
                    </p>

                    <div class="input-group w-auto m-auto">

                        <form th:action="@{/admin/user/edit/{id}(id=${id})}" method="post" th:object="${user}">

                            <div class="flex flex-row gap-x-5">


                                <div class="w-full">
                                    <label for="fullName" class="block mb-2 text-sm font-medium text-gray-900">Full
                                        Name</label>
                                    <div class="flex mb-3">
                                        <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:text-gray-400">
                                            <i class="fa-solid fa-user"></i>
                                        </span>
                                        <input type="text" id="fullName" th:field="*{fullName}"
                                               class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:placeholder-gray-400 focus:outline-hidden"
                                               placeholder="John Doe" required>
                                    </div>
                                </div>

                                <div class="w-full">
                                    <label for="phoneNumber" class="block mb-2 text-sm font-medium text-gray-900">Phone
                                        Number</label>
                                    <div class="flex mb-3">
                                        <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:text-gray-400">
                                            <i class="fa-solid fa-phone"></i>
                                        </span>
                                        <input type="text" id="phoneNumber" th:field="*{phoneNumber}"
                                               class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:placeholder-gray-400 focus:outline-hidden"
                                               placeholder="+959963...." required>
                                    </div>
                                </div>


                            </div>


                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                            <div class="flex mb-3">
                                <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:text-gray-400">
                                    <i class="fa-solid fa-envelope"></i>
                                </span>
                                <input type="text" id="email" th:field="*{email}"
                                       class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:placeholder-gray-400 focus:outline-hidden"
                                       placeholder="elonmusk@gmail.com" required>
                            </div>

                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password<span
                                    class="text-xs font-light"> (leave blank to maintain current password)</span></label>
                            <div class="flex mb-3 relative" x-data="{IsShow:false}">
                                <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:text-gray-400">
                                    <i class="fa-solid fa-lock"></i>
                                </span>
                                <input :type="IsShow?'text':'password'" id="password" th:field="*{password}"
                                       class="rounded-none pe-10 rounded-e-lg bg-gray-50 border text-gray-900 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:placeholder-gray-400 focus:outline-hidden"
                                       placeholder="Update user password...">
                                <button type="button"
                                        @click="IsShow = !IsShow"
                                        class="absolute inset-y-0 right-0 flex items-center px-3 text-gray-600 cursor-pointer">
                                    <i x-bind:class="IsShow ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>

                                </button>
                            </div>

                            <div class="flex flex-row">
                                <div class="w-1/2 pr-3">
                                    <label for="role" class="block mb-2 text-sm font-medium text-gray-900">Update
                                        Role</label>
                                    <select id="role" name="role"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                        <option th:each="rol : ${role}" th:value="${rol.id}" th:text="${rol.roleName}"
                                                th:selected="${rol.id == user.role.id}"></option>
                                    </select>
                                </div>

                                <div class="w-1/2 pl-3">
                                    <label for="status" class="block mb-2 text-sm font-medium text-gray-900">Update
                                        Status</label>
                                    <select id="status" name="status"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                        <option th:selected="${user.status == true }" th:value="true">Active</option>
                                        <option th:selected="${user.status == false}" th:value="false">Inactive</option>

                                    </select>
                                </div>

                            </div>

                            <div class="absolute top-3 left-3">
                                <a th:href="@{/admin/users}">
                                    <button type="button"
                                            class="mt-1 w-full cursor-pointer text-gray-800 border border-gray-300 bg-transparent font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                                        <i class="fa-solid fa-arrow-left pr-1"></i> Back
                                    </button>
                                </a>
                            </div>
                            <div class="absolute bottom-3 lg:bottom-10 right-10">
                                <button type="submit"
                                        class="btn-animated mt-5 w-full cursor-pointer text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                                    <i class="fa-solid fa-pen-to-square pr-1"></i> Update
                                </button>
                            </div>
                        </form>

                    </div>
                </div>


                <div class="min-w-[400px] max-w-[800px] flex flex-col justify-center flex-wrap lg:px-5 lg:py-5 border-b border-gray-200 lg:border-none">
                    <div class="flex flex-col items-center justify-center pb-10">
                        <div>
                            <img class="rounded-full shadow-md border border-gray-200"
                                 src="/images/user-avatar.jpg" alt="avatar"
                                 width="100" height="100">
                        </div>

                        <div class="flex items-center gap-2 mt-2">
                            <p class="w-80 text-xl font-bold truncate overflow-hidden" th:text="${user.fullName}">User Name</p>
                            <div th:text="${user.role.roleName}"
                                 th:classappend="${user.role.roleName == 'Admin'} ? ' bg-yellow-600' :
                     (${user.role.roleName == 'Technical'} ? ' bg-indigo-600' :
                     (${user.role.roleName == 'Sale'} ? ' bg-cyan-600' :
                     (${user.role.roleName == 'Member'} ? ' bg-black' : ''))) "
                                 class="px-2 py-1 text-white rounded-sm text-xs">
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-row gap-x-2 mb-3">
                        <div>
                            <p><i class="fa-solid fa-envelope pt-1 text-indigo-800"></i></p>
                        </div>
                        <div class="flex flex-col gap-y-1">
                            <p class="text-gray-700">Email</p>
                            <p class="text-sm" th:text="${user.email}"></p>
                        </div>
                    </div>

                    <div class="flex flex-row gap-x-2 mb-3">
                        <div>
                            <p><i class="fa-solid fa-phone pt-1 text-indigo-800"></i></p>
                        </div>
                        <div class="flex flex-col gap-y-1">
                            <p class="text-gray-700">Phone Number</p>
                            <p class="text-sm" th:text="${user.phoneNumber}"></p>
                        </div>
                    </div>

                    <div class="flex flex-row gap-x-1 mb-3">
                        <div>
                            <p><i class="fa-solid fa-signal pt-1 text-indigo-800"></i></p>
                        </div>
                        <div class="flex flex-col gap-y-1">
                            <p class="text-gray-700">Status</p>
                            <p th:classappend="${user.status ? 'bg-green-600' : 'bg-red-600'}"
                               class="px-5 py-0.5 text-white text-sm rounded-full"
                               th:text="${user.status ? 'Active' : 'Not Active'}"></p>
                        </div>
                    </div>

                    <div class="flex flex-row gap-x-3 mb-3">
                        <div>
                            <p><i class="fa-solid fa-clipboard pt-1 text-indigo-800"></i></p>
                        </div>
                        <div class="flex flex-col gap-y-1">
                            <p class="text-gray-700">Last Updated</p>
                            <p class="text-sm"
                               th:text="${user.updatedAt != null ?user.updatedAt : 'Not updated at once'}"></p>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </section>

</div>
