
<nav class="bg-white border-b border-gray-100 shadow-sm" th:fragment="navbar">
  <div class="mx-auto max-w-9/10">

    <div class="relative flex h-16 items-center justify-between">


      <div class="absolute inset-y-0 right-0 flex items-center lg:hidden">
        <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:ring-2 focus:ring-white focus:outline-hidden focus:ring-inset" aria-controls="mobile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <svg class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <svg class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
      </div>


      <div class="flex flex-1 items-center justify-between">

        <div class="flex items-center space-x-8">

          <div class="shrink-0 flex flex-row justify-center items-center gap-x-3">
            <img class="h-8 w-auto" src="https://flowbite.com/docs/images/logo.svg" alt="Survey">
            <div class="text-indigo-700 font-bold text-lg">SurveyApp</div>
          </div>




          <div class="hidden lg:block flex space-x-2">

            <a th:if="${#authorization.expression('hasAuthority(''Admin'')')}" th:classappend="${servletPath == '/'} ? 'text-black border-b-2 border-indigo-800' : 'text-gray-500'" th:href="@{/}" class="text-sm hover:border-b-2 hover:border-gray-400 py-6 px-4 hover:text-black">
              <i class="fa-solid fa-cube"></i>
              Dashboard
            </a>
            <a th:if="${#authorization.expression('hasAuthority(''Admin'')')}" th:classappend="${servletPath.startsWith('/admin/users')} ? 'text-black border-b-2 border-indigo-800' : 'text-gray-500'" th:href="@{/admin/users}" class="text-sm hover:border-b-2 hover:border-gray-400 py-6 px-4 hover:text-black">
              <i class="fa-solid fa-user"></i>
              All Users
            </a>
            <a th:if="${#authorization.expression('hasAuthority(''Sale'')')}" th:classappend="${servletPath == '/sale/survey/allSurvey' or servletPath.startsWith('/sale/application/create')} ? 'text-black border-b-2 border-indigo-800' : 'text-gray-500'" th:href="@{/sale/survey/allSurvey}" class="text-sm hover:border-b-2 hover:border-gray-400 py-6 px-4 hover:text-black">
              <i class="fa-solid fa-newspaper"></i>
             All Surveys
            </a>
            <a th:if="${#authorization.expression('hasAnyAuthority(''Technical'',''Admin'')')}" th:classappend="${servletPath == '/technical/survey/allSurvey'} ? 'text-black border-b-2 border-indigo-800' : 'text-gray-500'" th:href="@{/technical/survey/allSurvey}" class="text-sm hover:border-b-2 hover:border-gray-400 py-6 px-4 hover:text-black">
              <i class="fa-solid fa-newspaper"></i>
              All Surveys
            </a>
            <a th:if="${#authorization.expression('hasAuthority(''Sale'')')}" th:classappend="${servletPath == '/sale/application/allApplications'} ? 'text-black border-b-2 border-indigo-800' : 'text-gray-500'" th:href="@{/sale/application/allApplications}" class="text-sm hover:border-b-2 hover:border-gray-400 py-6 px-4 hover:text-black">
              <i class="fa-solid fa-apple-whole"></i>
              All Applications
            </a>
            <a th:if="${#authorization.expression('hasAnyAuthority(''Technical'',''Admin'')')}" th:classappend="${servletPath == '/technical/application/allApplications'} ? 'text-black border-b-2 border-indigo-800' : 'text-gray-500'" th:href="@{/technical/application/allApplications}" class="text-sm hover:border-b-2 hover:border-gray-400 py-6 px-4 hover:text-black">
              <i class="fa-solid fa-apple-whole"></i>
              All Applications
            </a>
          </div>
        </div>

        <div class="hidden sm:block">
          <div class="flex items-center space-x-4">
            <a th:if="${#authorization.expression('isAnonymous()')}" th:classappend="${servletPath == '/login'} ? 'bg-indigo-700 text-white' : 'text-gray-600 hover:bg-gray-200 hover:text-black'" th:href="@{/login}" class="rounded-md px-3 py-2 text-sm font-medium">
              <i class="fa-solid fa-right-to-bracket"></i>
             Login
            </a>
            <a th:if="${#authorization.expression('isAnonymous()')}" th:classappend="${servletPath == '/register'} ? 'bg-indigo-700 text-white' : 'text-gray-600 hover:bg-gray-200 hover:text-black'" th:href="@{/register}" class="rounded-md px-3 py-2 text-sm font-medium">
              <i class="fa-solid fa-user-plus"></i>
              Register
            </a>
            <form th:if="${#authorization.expression('isAuthenticated()')}" method="post" th:action="@{/logout}" class="ml-3 lg:block hidden">
                <button type="submit" class="cursor-pointer btn-animated inline-flex items-center rounded-md bg-red-50 px-3 py-2 text-sm font-medium text-red-700 ring-1 ring-inset ring-red-600/20 hover:bg-red-100">
                  <i class="fa-solid fa-right-from-bracket mr-1.5"></i>
                  Logout
                </button>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</nav>
