
<nav class="bg-white border-b border-gray-100 shadow-sm fixed top-0 start-0 w-full z-20" th:fragment="navbar">
  <div class="mx-auto max-w-[90%]">

    <div class="relative flex h-16 items-center justify-between">

      <div class="absolute inset-y-0 right-0 flex items-center lg:hidden">
        <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:ring-2 focus:ring-white focus:outline-hidden focus:ring-inset" aria-controls="mobile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <svg class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <svg class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
      </div>


      <div class="flex flex-1 items-center justify-between">

        <div class="flex flex-row items-center space-x-8">

          <div class="shrink-0 flex flex-row justify-center items-center gap-x-3">
            <img class="h-8 w-auto" src="https://flowbite.com/docs/images/logo.svg" alt="Survey">
            <div class="text-indigo-700 font-bold text-lg">SurveyApp</div>
          </div>

          <div class="hidden lg:flex flex-row space-x-2">

            <!-- For Admin -->
            <th:block
                      th:replace="~{fragments/nav-link :: navLink('Dashboard', '/', 'fa-solid fa-house',${#authorization.expression('hasAuthority(''Admin'')')})}">
            </th:block>
            <th:block
                      th:replace="~{fragments/nav-link :: navLink('All Users', '/admin/users', 'fa-solid fa-user',${#authorization.expression('hasAuthority(''Admin'')')})}">
            </th:block>

            <!-- For Sale -->
            <div
                 th:replace="~{fragments/nav-link :: navLink('All Surveys', '/sale/survey/allSurvey', 'fa-solid fa-newspaper',${#authorization.expression('hasAuthority(''Sale'')')})}">
            </div>
            <div
                 th:replace="~{fragments/nav-link :: navLink('All Application', '/sale/application/allApplications', 'fa-solid fa-apple-whole',${#authorization.expression('hasAuthority(''Sale'')')})}">
            </div>

            <!-- For Technical or Admin -->
            <div
                 th:replace="~{fragments/nav-link :: navLink('All Surveys', '/technical/survey/allSurvey', 'fa-solid fa-newspaper',${#authorization.expression('hasAnyAuthority(''Technical'',''Admin'')')})}">
            </div>
            <div
                 th:replace="~{fragments/nav-link :: navLink('All Application', '/technical/application/allApplications', 'fa-solid fa-apple-whole',${#authorization.expression('hasAnyAuthority(''Technical'',''Admin'')')})}">
            </div>

          </div>
        </div>

        <div class="hidden sm:block">
          <div class="flex items-center space-x-4">
            <a th:if="${#authorization.expression('isAnonymous()')}" th:classappend="${servletPath == '/login'} ? 'bg-indigo-700 text-white' : 'text-gray-600 hover:bg-gray-200 hover:text-black'" th:href="@{/login}" class="rounded-md px-3 py-2 text-sm font-medium">
              <i class="fa-solid fa-right-to-bracket"></i>
             Login
            </a>
            <a th:if="${#authorization.expression('isAnonymous()')}" th:classappend="${servletPath == '/register'} ? 'bg-indigo-700 text-white' : 'text-gray-600 hover:bg-gray-200 hover:text-black'" th:href="@{/register}" class="rounded-md px-3 py-2 text-sm font-medium">
              <i class="fa-solid fa-user-plus"></i>
              Register
            </a>

            <div th:if="${#authorization.expression('isAuthenticated()')}">

              <div class="flex items-center space-x-3 md:space-x-0 rtl:space-x-reverse mr-3">
                <button type="button" class="relative flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                  <span class="sr-only">Open user menu</span>
                  <img class="w-13 h-13 rounded-full shadow-md border-3"
                       th:classappend="${currentUser.role.roleName == 'Admin'} ? 'border-yellow-400' :
                                     (${currentUser.role.roleName == 'Sale'} ? 'border-cyan-400' :
                                     (${currentUser.role.roleName == 'Technical'} ? 'border-indigo-400' : 'fa-user'))"
                       src="/images/img.png" alt="user photo">
                  <i class="fa-solid fa-rotate-by absolute -right-1 text-lg" style="--fa-rotate-angle: 20deg;"
                     th:classappend="${currentUser.role.roleName == 'Admin'} ? 'fa-crown text-yellow-600' :
                                     (${currentUser.role.roleName == 'Sale'} ? 'fa-briefcase text-cyan-600' :
                                     (${currentUser.role.roleName == 'Technical'} ? 'fa-wrench text-indigo-600' : 'fa-user'))"></i>
                </button>
                <!-- Dropdown menu -->
                <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow-sm" id="user-dropdown">
                  <div class="px-4 py-3">
                    <div class="flex items-center gap-x-1">
                      <p class="block text-sm text-gray-900 truncate overflow-hidden w-40" th:text="${currentUser?.fullName}"></p>
                      <span
                              th:classappend="${currentUser.role.roleName == 'Admin'} ? ' bg-yellow-600' :
                     (${currentUser.role.roleName == 'Technical'} ? ' bg-indigo-600' :
                     (${currentUser.role.roleName == 'Sale'} ? ' bg-cyan-600' :
                     (${currentUser.role.roleName == 'Member'} ? ' bg-black' : ''))) "
                              th:text="${currentUser.role.roleName}"
                      class="px-2 py-1 text-white rounded-sm text-xs"></span>
                    </div>
                    <span class="block text-sm  text-gray-500 truncate" th:text="${currentUser?.email}"></span>
                  </div>
                  <ul class="py-2" aria-labelledby="user-menu-button">
                    <li>
                      <a th:href="@{/user/profile}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                        <div class="flex flex-row gap-x-2 items-center">
                          <i class="fa-solid fa-gear"></i>
                          Settings
                        </div>
                      </a>
                    </li>
                    <li>
                      <form method="post" th:action="@{/logout}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full">
                        <button type="submit" onclick="return confirm('Are you sure you want to logout?')" class="flex flex-row gap-x-2 items-center cursor-pointer">
                          <i class="fa-solid fa-right-from-bracket"></i>
                          Logout
                        </button>
                      </form>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</nav>
