<div th:replace="~{fragments/layout::layout(~{::section})}">
  <section class="w-[97%] lg:w-[90%] mt-5">
    <div class="flex flex-row items-center gap-x-2 text-gray-800 text-xl font-bold">
      <i class="fa-solid fa-gauge"></i> Dashboard Overview
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-3 lg:gap-5 w-full items-center mb-8 mt-4">

      <div th:replace="~{fragments/dashboard/dashboard-head-card::dashbaord-head-card('Total Suveys',${totalSurvey},'fa-clipboard-list text-indigo-700',${surveyPercentage})}"></div>
      <div th:replace="~{fragments/dashboard/dashboard-head-card::dashbaord-head-card('Pending Surveys',${pendingSurvey},'fa-clock text-orange-700',${pendingSurveyPercentage})}"></div>
      <div th:replace="~{fragments/dashboard/dashboard-head-card::dashbaord-head-card('Total Applications',${totalApplication},'fa-brands fa-apple text-pink-700',${applicationPercentage})}"></div>
      <div th:replace="~{fragments/dashboard/dashboard-head-card::dashbaord-head-card('Success Rate',${successRate},'fa-circle-check text-green-700',${successRatePercentage})}"></div>

      <div class="order-1 surveyStatus col-span-1 h-100 shadow-[0px_12px_31px_-2px_rgba(0,_0,_0,_0.1)] rounded-xl">
        <div class="py-4 px-5 relative">
          <div class="flex flex-row justify-between items-center">
            <p class="text-lg font-semibold">Survey Status</p>
            <div class="bg-gray-100 p-2 rounded-full">
              <i class="fa-solid fa-chart-pie text-indigo-600"></i>
            </div>
          </div>
          <p class="text-sm text-gray-500">Status Distribution</p>

          <!--Survey Data-->
          <div id="survey-data"
          th:data-pending="${pendingSurvey}"
          th:data-success="${succeededSurvey}"
          th:data-failed="${failedSurvey}"></div>
          <!--End of Survey Data-->

          <div class="w-full h-[250px] flex items-center justify-center mt-10">
            <canvas id="surveyStatusChart"></canvas>
          </div>

        </div>
      </div>

      <div class="order-3 lg:order-3 surveyChart col-span-1 md:col-span-2 lg:col-span-4 h-[400px] shadow-[0px_12px_31px_-2px_rgba(0,_0,_0,_0.1)] rounded-xl">
        <div class="flex flex-row justify-between py-3 px-5">
          <div class="flex flex-row items-center">
            <p class="text-lg font-semibold">Trend Analysis</p>
            <select name="" id="chartTypeSelect" class="text-xs border border-gray-200 p-1 ml-2 rounded-sm">
              <option value="survey">Survey Chart</option>
              <option value="application">Application Chart</option>
            </select>
          </div>
          <div class="flex flex-row items-center gap-2 text-xs">
            <div class="p-2 bg-indigo-50 text-indigo-700 rounded-full">
              <i class="fa-solid fa-chart-line"></i>
            </div>
            <label for="rangeSelect" class="text-gray-600">Time Period : </label>
            <select name="timeline" id="rangeSelect" class="text-gray-600 border border-gray-200 p-1 rounded">
              <option value="7">7 days Period</option>
              <option value="14">14 days Period</option>
              <option value="30">One Month Period</option>
              <option value="monthly">Monthly View</option>
            </select>
          </div>
        </div>

        <div class="h-[330px] w-full p-4">
          <canvas id="monthlySurveyChart" class="w-full h-full"></canvas>
        </div>
      </div>

      <div class="order-2 lg:order-2 col-span-1 surveyStatus h-100 shadow-[0px_12px_31px_-2px_rgba(0,_0,_0,_0.1)] rounded-xl">
        <div class="py-4 px-5 relative">
          <div class="flex flex-row justify-between items-center">
            <p class="text-lg font-semibold">Application Status</p>
            <div class="bg-gray-100 p-2 rounded-full">
              <i class="fa-solid fa-chart-pie text-red-600"></i>
            </div>
          </div>
          <p class="text-sm text-gray-500">Status Distribution</p>
          <!--Application Data-->
          <div id="application-data"
               th:data-pending="${pendingApplication}"
               th:data-processing="${processingApplication}"
               th:data-completed="${completedApplication}"
               th:data-cancelled="${cancelledApplication}"></div>
          <!--End Of Application Data-->
          <div class="w-full h-[250px] flex items-center justify-center mt-10">
            <canvas id="applicationStatusChart"></canvas>
          </div>

        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-10 gap-5 mb-10">
      <div class="SurveyStatus col-span-4 md:col-span-4 lg:col-span-6 shadow-[0px_12px_31px_-2px_rgba(0,_0,_0,_0.1)] rounded-xl p-5">
        <div class="recent-survey-header flex flex-row items-center justify-between">
          <p class="font-semibold text-md text-gray-700">Recent Surveys</p>
          <a th:href="@{/technical/survey/allSurvey}" class="text-xs font-semibold text-blue-500">View All</a>
        </div>


        <div class="relative overflow-x-auto pt-5">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-700 border-b border-gray-100">
            <tr>
              <th scope="col" class="px-6 py-3">
                ID
              </th>
              <th scope="col" class="px-6 py-3">
                Customer
              </th>
              <th scope="col" class="px-6 py-3">
                Status
              </th>
              <th scope="col" class="px-6 py-3">
                Date
              </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${recentSurvey.size() > 0}" th:each="survey : ${recentSurvey}" class="bg-white hover:bg-gray-50 transition transition-duration-300 ease-in-out cursor-pointer">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap" th:text="${survey.generatedSurveyId}">
              </th>
              <td class="px-6 py-4" th:text="${survey.customerName}">
              </td>
              <td class="px-6 py-4">
                <div class="px-2 py-1 rounded-md inline-block text-xs font-medium" th:text="${survey.status}"
                  th:classappend="${survey.status.status == 'Pending' ?
                  'bg-yellow-100 text-yellow-800' : survey.status.status =='Succeeded' ?
                   'bg-green-100 text-green-800' : 'bg-red-50 text-red-800'}">
                </div>
              </td>
              <td class="px-6 py-4" th:text="${survey.requestDate}">
              </td>
            </tr>
            <tr th:if="${recentSurvey.size() == 0}" class="text-center w-full">
              <td colspan="4" class="py-4 text-gray-500 italic">
                No recent Survey data available!
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="SurveyStatus hidden col-span-4 shadow-[0px_12px_31px_-2px_rgba(0,_0,_0,_0.1)] rounded-xl h-[400px] p-5">
        <div class="flex flex-row justify-between">
          <p class="font-semibold text-gray-700 text-md">Recent Team Activity</p>
          <p class="font-semibold text-blue-500 text-xs"><a href="#">View More</a></p>
        </div>


        <div class="flex flex-col gap-y-2 pt-3">

          <div th:if="${recentActivity.size() > 0}" th:each="activity: ${recentActivity}" class="flex flex-row gap-x-3 items-center pt-3 hover:bg-gray-50 transition transition-duration-300 ease-in-out cursor-pointer">
              <div class="icon bg-indigo-100 w-10 h-10 rounded-full items-center justify-center flex">
                <img class="w-10 h-10 rounded-full"
                     src="/images/user-avatar.jpg"
                     alt="Jese image">
              </div>
              <div class="activity-text max-w-[400px] break-words whitespace-normal">
                <div class="flex flex-col">
                  <p class="text-md font-base truncate" th:text="${activity?.actor.fullName +' ' + activity?.getActivityType().getDescription()}"></p>
                  <p class="text-sm font-light" th:text="${#temporals.format(activity.timestamp,'dd/MM/yyyy h:m:s a')}"></p>
                </div>
              </div>
          </div>

          <div th:if="${recentActivity.size() == 0}" class="w-full flex justify-center items-center">
            <p class="py-30 text-gray-500 italic text-sm">No team activity available! </p>
          </div>

          <div>

          </div>

        </div>


      </div>
      <div class="SurveyStatus col-span-4 shadow-[0px_12px_31px_-2px_rgba(0,_0,_0,_0.1)] rounded-xl h-[500px] p-5 overflow-y-auto">
        <div class="flex flex-row justify-between items-center">
          <p class="text-lg font-semibold">Statistics</p>
          <div class="bg-gray-100 p-2 rounded-full">
            <i class="fa-solid fa-chart-bar text-indigo-600"></i>
          </div>
        </div>
        <p class="text-sm text-gray-500">Key Performance Metrics</p>

        <div class="space-y-3 mt-4">
          <!-- Most Survey Creator -->
          <div class="stat-card bg-white rounded-lg p-2.5 shadow-sm hover:bg-gray-50 transition transition-duration-300 ease-in-out cursor-pointer">
            <div class="flex justify-between items-center">
              <p class="font-semibold text-sm text-gray-700">Most Survey Creator</p>
              <div class="px-2 py-1 bg-orange-100 text-orange-700 rounded-md inline-block text-xs font-medium" th:text="${topSurveyCreatorCount} ? ${topSurveyCreatorCount} + 'Surveys' : 'No Data'">
              </div>
            </div>
            <div class="flex items-center gap-x-3 mt-2">
              <div class="w-9 h-9 bg-indigo-100 text-indigo-600 flex items-center justify-center rounded-full">
                <img class="w-6 h-6 rounded-full"
                                     th:src="${topSurveyCreator} ? '/images/user-avatar.jpg' : '/images/user-slash.png'"
                                     alt="Jese image">
              </div>
              <p class="text-sm font-base" th:text="${topSurveyCreator} ? ${topSurveyCreator.fullName} : 'No Survey available'"></p>
            </div>
          </div>

          <div class="stat-card bg-white rounded-lg p-2.5 shadow-sm hover:bg-gray-50 transition transition-duration-300 ease-in-out cursor-pointer">
            <div class="flex justify-between items-center">
              <p class="font-semibold text-sm text-gray-700">Most Application Creator</p>
              <div class="px-2 py-1 bg-pink-100 text-pink-700 rounded-md inline-block text-xs font-medium" th:text="${topApplicationCreatorCount} ? ${topApplicationCreatorCount}+' Apps' :'No data'">
              </div>
            </div>
            <div class="flex items-center gap-x-3 mt-2">
              <div class="w-9 h-9 bg-indigo-100 text-indigo-600 flex items-center justify-center rounded-full">
                <img class="w-6 h-6 rounded-full"
                     th:src="${topApplicationCreator} ? '/images/user-avatar.jpg' : '/images/user-slash.png'"
                                     alt="Jese image">
              </div>
              <p class="text-sm" th:text="${topApplicationCreator} ? ${topApplicationCreator.fullName} : 'No Application Available'"></p>
            </div>
          </div>

          <div class="stat-card bg-white rounded-lg p-2.5 shadow-sm hover:bg-gray-50 transition transition-duration-300 ease-in-out cursor-pointer">
            <div class="flex justify-between items-center">
              <p class="font-semibold text-sm text-gray-700">Most Active User</p>
              <div class="px-2 py-1 bg-indigo-100 text-indigo-700 rounded-md inline-block text-xs font-medium" th:text="${mostActiveUserCount}?${mostActiveUserCount}+' Activities':'No data'">
                28 Activities
              </div>
            </div>
            <div class="flex items-center gap-x-3 mt-2">
              <div class="w-9 h-9 bg-indigo-100 text-indigo-600 flex items-center justify-center rounded-full">
                <img class="w-6 h-6 rounded-full"
                     th:src="${mostActiveUser} ? '/images/user-avatar.jpg' : '/images/user-slash.png'"
                                     alt="Jese image">
              </div>
              <p class="text-sm" th:text="${mostActiveUser}?${mostActiveUser.fullName}:'No activity available'"></p>
            </div>
          </div>


          <div class="stat-card bg-white rounded-lg p-2.5 shadow-sm hover:bg-gray-50 transition transition-duration-300 ease-in-out cursor-pointer">
            <div class="flex justify-between items-center">
              <p class="font-semibold text-sm text-gray-700">Most Service Location</p>
              <div class="px-2 py-1 bg-green-100 text-green-700 rounded-md inline-block text-xs font-medium">
                42 Services
              </div>
            </div>
            <div class="flex items-center gap-x-3 mt-2">
              <div class="w-9 h-9 bg-indigo-100 text-indigo-600 flex items-center justify-center rounded-full">
                <i class="fa-solid fa-location-dot"></i>
              </div>
              <p class="text-sm">ON 1</p>
            </div>
          </div>
        </div>


      </div>
    </div>





  </section>
</div>
